.fieldInfo {
  color: rgb(251, 174, 44);
  font-family: Bitter, Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}

.commentBlock {
  background-color: #f6f7f9;
}

.heading {
  font-family: Bitter, Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #005e90;
}

.heading:hoover {
  color: #0090db;
}
